<h1>My Trips</h1>

<a href="/my-trips/new"><button>New Trip!</button></a>
<form action="/auth/logout" method="post">
  <button>Logout</button>
</form>

<%if(trips.length > 0){%>
  <%trips.forEach(e => {%>
    <h3><%=e.destination%></h3>
    <p><%= e.description%></p>
    <img src="<%=e.pic_path%>" height="200px"><br>
    <a href="/my-trips/edit/<%=e._id%>"><button>Edit</button></a>
    <a href="/my-trips/delete/<%=e._id%>"><button>Delete</button></a>
  <%});%>
<%}%>
